[Unit]
Description=--App Wrapper/Sandbox Service--
StartLimitIntervalSec=5
StartLimitBurst=5

[Service]
Type=fork
WorkingDirectory=/sandbox
ExecStart=/sandbox/service-wrapper-script.sh
Restart=always
RestartSec=3
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
